# LibreOffice Calc (spreadsheet) & Writer temporary files:
*.ods#
*.odt#

# Cached python bytecode
__pycache__

# temporary directory where the .odt files are extracted during field replacement
/tmp

# Sublime Text project workspaces (save projects only, not workspaces)
# More info here: http://docs.sublimetext.info/en/latest/file_management/projects.html
*.sublime-workspace

# Personal info. to build the bulletin for my actual ward. Therefore, do NOT back it up in the public repository!
# See: 
# - https://stackoverflow.com/a/5534865/4561887
# - https://stackoverflow.com/questions/8006393/force-add-despite-the-gitignore-file
/MY_PERSONAL_WARD_INFO
